* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 0.9rem;
}

body {
    background-image: url('../images/background6.png');
}

.header{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    color: white;
}

.nav {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    
}

.nav > * {
    color: white;

}



.logo{
    font-size: 1.2rem;
    margin-right: 20%;

}

.main {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 73%;
    height: 100vh;
    margin: auto;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 3rem;
    border-radius: 0.7rem;
    background-color: white;
}

.main_pic {
    height: 35rem;
    width: 53%;
    border-radius: 0.7rem;
    transition: 4s;

}

.main-content {
    /* border: 1px solid black; */
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    /* padding: 3rem; */
}

.main-content > * {
    /* border: 1px solid black; */
}

.skill {
    font-weight: bolder;
}

.name {
    font-size: 2rem;
    width: 62%;
}
.description {
    color: #C7ABAB;
}

.icons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
}

.each-icon {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 1.7rem;
}
.each-icon > * {
    color: #C7ABAB;
}

.text {
    /* border: 1px solid black; */
    width: 10rem;
    text-align: left;
    margin-left: 0.6rem ;
}

.social {
    /* border: 1px solid black; */
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.social >* {
    /* border: 1px solid black; */
   
    padding: 0.8rem;
    border-radius: 0.2rem;
    background-color: #FFE7E7;
}

.icon-size > * {
    color: white;
}

.slide {
    display: none;
  }

  .slide.active {
    display: block;
  }
/* mobile view */
@media only screen and (max-width: 460px) {
    /* For mobile phones: */
    .header {
        margin: 0;
        
    }
    .nav {
        /* display: none; */
        flex-direction: column;
        width: 0%; 
        position: fixed;
        height: 50vh;
        background-color: blue;
        margin-top: 20.3rem;
        align-items: center;
        margin: 0;
        visibility: hidden;
        transition: 1s;
    }
    
    .nav a {
        transition: 1s;
    }
    .logo {
    position: fixed;

        width: 100%;
        padding-top: 2%;
        padding-left: 3%;
        background-color: blue;

       
    }

    .main {
        height: 50rem;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        /* padding-top: 0; */
        

    }

    .main_pic {
        height: 15rem;
        width: 100%;
    }

    .main-content {
        width: 100%;
        height: 100rem;
        align-items: center;
    }

    .hello {
        font-size: 20px;
    }

    .name {
        text-align: center;
    }

    .icons {
        align-items: center;
    }

    .each-icon > * {
        color: #bc7dec;
    }

    .description {
        color: #bc7dec;
        text-align: center;
    }

   .social > * {
        background-color: #bc7dec;

    }

   .nav.open {
       visibility:visible;
       margin-top: 6.4%;

       padding: 40px 40px;
       
        width: 40px;
        transition: 1s;

  }

}